.scroll-container {
  max-height: calc(100vh - 75px);
  overflow-y: auto;
   scrollbar-width: none;     // Firefox
  -ms-overflow-style: none;  // IE & Edge

  &::-webkit-scrollbar {
    display: none;           // Chrome, Safari
  }
}